:root{
    --bg-color: black;
    --bg-color-container: #242424;
    --color: white;
    --bg-color-card: rgb(51 51 51);;
}

[data-theme="light"]{
    --bg-color: #d1d1d1;
    --bg-color-card: #d1d1d1;
    --bg-color-container: white;
    --color: black;
}